@font-face {
  font-family: Norse-Bold;
  src: url(reference/Norse-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  display: flex;
  font-size: 22px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.container-left {
  background-image: url("reference/background-img.png");
  background-size: cover;
  color: white;
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
  position: relative;
  font-weight: normal;
}

.container-right {
  background-color: white;
  height: 100%;
  width: 65%;
}

.container-logo {
  background-color: rgba(0, 0, 0, 0.4);
  height: 15vh;
  margin-top: 24vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#odin-logo {
  height: 80%;
}

#logo-line {
  font-size: 90px;
  font-family: Norse-Bold;
  transform: scale(0.9, 1);
}

.photographer {
  width: 100%;
  height: 8vh;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.photographer a {
  color: white
}

.content {
  margin-top: 20vh;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  width: 70%;
}

.advertise {
  width: 80%;  
}

#get-line {
  margin-top: 20px;
  margin-bottom: 70px;;
}

.sign-up {
  margin-top: 20px;
}

.sign-up .container-info {
  width: 100%;
  margin-left: -55px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 55px;
  padding-bottom: 20px;
  padding-right: 320px;
  box-shadow: 0 7px 7px -2px #cecbcb;

}

.container-info .container-input {
  display: flex;
  justify-content: flex-start;
  width: 300px;
  flex-direction: column;
  margin-bottom: 20px;
}

.sign-up .container-info label {
  font-size: 10px;
  letter-spacing: 2px;
  margin-bottom: 2px;
}

.sign-up .container-info input {
  width: 200px;
  border-radius: 3px;
  border: #e5e7eb 1px solid;
  font-size: 16px;
  padding: 0 10px;
}

.sign-up .container-info input:focus {
  box-shadow: 1px 1px 1px 1px black;
}

.sign-up .container-info input:invalid:not(:focus) {
  border: red 1px solid;
}

.container-login {
  padding-top: 30px;
}

#create-account {
  font-size: 18px;
  padding: 10px 40px;
  font-weight: bold;
  background-color: #596d48;
  color: white;
  border: none;
  border-radius: 7px;
  margin-bottom: 40px;
}

#login {
  font-weight: normal;
  font-size: 18px;
}

#login-link {
  font-weight: bold;
  color: #596d48;
  text-decoration: none;
}

.error {
  font-size: 12px;
  font-weight: normal;
  color: red
}


